.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.container{
  background-image: url('pic.jpg');
  background-size: cover;
  max-width: 580px;
  min-height: 400px;
}
.container button{
  background-color: orange;
  text-emphasis-color: red;
}

